body {
    background: rgb(0, 0, 0);
    color: white;
    margin:35%;
    margin-top:5%;
  }

container {
    justify-content: center;
    width: auto;
    height: auto;
    
}

.personal {
    
    border-color: white;
    border-width: 1px;
    border-style: solid;
    width: 122px;
    display:flex;
  }

  .personal p {
    margin-left: 15px;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
