body {
    background: rgb(0, 0, 0);
  }

container {
    justify-content: center;  
    font: white;
    width: auto;
    height: auto;
    padding: 10px;
}

portrait {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }